<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @film.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @film.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @film.details %>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
